body {
  background-color: rgb(60, 185, 216);
}

.main {
  background-color: rgb(238, 171, 169);
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 5px;
}

#todoForm input {
  background-color: rgb(225, 235, 90);
  border: none;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  border-radius: 10px;
  color: rgb(236, 82, 94);
}

#todoForm input:focus {
  outline: none;
}

#todoForm button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: none;
  background-color: rgb(241, 158, 3);
  cursor: pointer;
  font-weight: bolder;
  color: rgb(253, 241, 201);
}
